.naslovStanica{
    text-align: center;
    color: darkblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2rem;
  }

  .labela-stanica{
    color: darkblue;
    font-size: medium;
   /* font-weight: ;    */
    align-items: center;
  }
  .labela-stanica-naslov{
    font-weight: bold;
    font-size: larger;
  }
  .red-05{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
    /* glavna tabela za prikaz spiskova stanica   */
  .tabela-stanica{
  /*  overflow-x: auto;   /* zbog responsive dela     */
    width: max-content;   
   /* width: 14rem;         */
    border: 1px solid darkblue;
    border-radius: 0.3rem;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem;    /* 3rem   */
    background-color: aliceblue;
  }
  .spisak-stanica{
    width: 45rem;   /* 40rem  */
  }
  .prosiri-tabela-stanica{
    padding: 3rem;
  }

    /* prikaz podataka jedne stanice    */
  .jedan-red-stanica{
    width: fit-content;   /* 33rem    */
    line-height: 45px; 
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(151, 192, 246);
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: 0.2rem;
    display: flex;
    flex-wrap: wrap;  
  }
  .jedan-red-visina{
    line-height: 35px ;
  }

  .input-stanica{
    width: 10rem;
    height: 2rem;
    border-color: darkblue;
    border-radius: 0.3rem;
    margin: 0.2rem;
    text-align: center;   /* dodala da bi placeholder bio centriran a i sami unoseni podaci   */
  }

  .input-stanica::placeholder{
    color: blue;
    align-items: center;
    text-align: center;
    padding-left: 0.5rem;       /* dodala sam zbog poravnanja kod forme za dodavanje linije   */
   /* text-align: center;   */
  }

  .input-stanica-vreme{
    border-radius: 0.3rem;
    border-color: darkblue;
    border-style: solid;
  /*  box-shadow: inset 0rem 0rem 1.563rem 0rem #c3def6;    */
    margin: 0.2rem;
    height: 2rem;
    width: 10rem;
  /*  font-size: medium;    */
    text-align: center;
    color: blue;
   /* padding-left: 0.375rem;
    font-size: 1.25rem; */
  }


  .polje-stanica{
   /* line-height: 30px;    */
    width: fit-content;
    border: 1px solid rgb(156, 198, 253);
    padding: 0.5rem;
    background-color: #fff;
   /* flex-wrap: wrap;    */
  }
  .info-stanica{
    width: 5rem;
    border: 1px solid rgb(156, 198, 253);
    background-color: rgb(221, 234, 250);
    padding: 0.5rem;
    color: darkblue;
    font-size: medium;
    font-weight: bold;
    text-align: left;
   /* flex-wrap: wrap;    */
  }

  .sirina-info-stanica{
    width: 8rem;
  }
  .sirina-info-15{
    width: 15rem;
  }
  .sirina-info-10{
    width: 10rem;
  }
  .sirina-info-8{
    width: 8rem;
  }
  .sirina-info-7{
    width: 7rem;
  }
  .sirina-info-6{
    width: 6rem;
  }
  .sirina-info-4{
    width: 4rem;
  }
  .sirina-20{
    width: 20rem;
  }
  .sirina-39{
    width: 39rem;
  }
  

  .ograda-medjustanice{
    border:1px solid darkgreen;
    border-radius: 0.3rem;
    width: fit-content;
    height: auto;
    background-color: #fff;
    padding: 1rem;
  }

  .odaberiBus{
    border: 1px solid darkblue;
    border-radius: 0.2rem;
    width: max-content;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .pisi-levo{
    justify-content: left;
    text-align: left;
    width: 10rem;  
  }
  .pisi-desno{
    justify-content: left;
    text-align: left;
    width: 10rem;
    margin-left: 11rem;
    margin-top: -3.5rem;
  }