.slider-container {
  position: relative;
  width: 59%;
  height: 50px; /* Promenjeno na 50px (dvostruko više) */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.slider-wrapper {
  width: 100%;
  position: relative;
}

.customSlider-thumb {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  outline: none;
  top: 18px; /* Promenjeno na 18px (sredina visine) */
}

.customSlider-track {
  top: 18px; /* Promenjeno na 18px (sredina visine) */
  height: 14px;
  background: #ddd;
  position: relative;
  height: 30px;
}

.customSlider-progress-bar {
  height: 30px;
  position: absolute;
  top: 18px; /* Promenjeno na 18px (sredina visine) */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.customSlider-middle-bar {
  width: 50%;
  background: #ddd;
}

.page-number {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.page-number.active {
  background: rgb(136 197 214);
}

.page-number.active.right-skew {
  clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}

.customSlider-progress-bar.inactive {
  clip-path: none;
}