.home {
  position: relative;
  margin: 0 auto;
  width: 70%; /* 90   */
  max-width: 62rem;
  display: block;
  background: #90b4f3;
  border: 1px solid #dbdbdb;
  box-shadow: rgb(165 150 149 / 20%) 0px 8px 24px;
  border-radius: 0.4rem;
  transition: 0.2s all;
  padding: 2.6rem 11rem;
  margin-top: 3.5rem;
}
.button-admin {
  margin: 0.7rem; /* 1rem  */
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px; /* 48  */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 14px; /*18  */
}

.button-admin:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-admin:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-admin:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.position {
  text-align: center;
  /* max-width: 20rem;   */
  /* justify-content: center;  */
}
.prvi {
  display: grid;
}
.home1 {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 80rem;
  display: block;
  background: #b1caf5;
  border: 1px solid #dbdbdb;
  box-shadow: rgb(165 150 149 / 20%) 0px 8px 24px;
  border-radius: 0.4rem;
  transition: 0.2s all;
  padding: 2.6rem 4rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.home-show {
  position: relative;
  display: block;
  /* width: 90vw; */
  max-width: 80rem;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: rgb(165 150 149 / 20%) 0px 8px 24px;
  border-radius: 0.4rem;
  z-index: 2;
  /* padding: 2.6rem 5rem;   */
  padding: 1rem 2rem;
  /* margin-left: 15vw; */
  margin-bottom: 1rem;
  text-align: justify; /* dodala sn    */
}
.change {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 11px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 1rem;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0.6rem;
  font-size: 1rem;
}

.button-change:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.labela {
  font-weight: medium;
  margin-bottom: 0.25rem;
  color: darkblue;
}

.control input {
  font: inherit;
  border: 0.063rem solid #ccc;
  /* border-radius: 0.05rem;   /* 0.25   */
  width: 30rem; /*20rem   */
  max-width: 100%;
}

.unos {
  width: 15rem;
  max-width: 40rem; /* 100%  */
  height: 2rem;
  border-radius: 0.25rem;
  justify-content: center;
  margin: 0.5rem;
}

/* .pozadinaSlika {
  background-image: image("Bus1");

  min-height: 380px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
  position: relative;
} */

/* .backgroundBus {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: darken;
}

.slika {
  width: auto;
  height: 35vh;
} */

.button-panel {
  font-size: 22px;
  height: 82px;
  width: 128px;
  margin: 1rem;
  line-height: 1;
  color:  darkblue;  /* darkred;   lepse se vidi ova boja a i osnovna je u aplikaciji */
  cursor: pointer;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
 
  appearance: none;
  /* background-image: radial-gradient(158% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  border: 0;
}

.confirm-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; 
}

.confirm-dialog-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.confirm-dialog-yes {
 background: red;
 color: white;
 padding: 10px;
 margin-right: 4px;
 border: none;
 cursor: pointer;
 font-size: medium;
}

.confirm-dialog-no {
  background: green;
  color: white;
  padding: 10px;
  margin-left: 4px;
  border: none;
  cursor: pointer;
  font-size: medium;
}


.confirm-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Poluprozirna crna pozadina */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.admin-initial-polje{
  background-color: #f5f5f8;
  border: 2px solid grey;
  border-radius: 0.3rem;
  padding: 4rem;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: auto;
}
.admin-centar{
  text-align: center;
}

.admin-labela{
  text-align: center;
  color: darkblue;
  font-size: medium;
}

.admin-slovaDugme{
  color: rgb(18, 18, 129);
  font-size: large;
}

.admin-pod-tabela{
    position: relative;
    display: block;
    /* width: 90vw; */
   /* max-width: 120vw;   /* menjala sam    */
    width: fit-content; 
    background: #fff;
    border: 1px solid grey;
    box-shadow: rgb(165 150 149 / 20%) 0px 8px 24px;
    border-radius: 0.3rem;
   /* z-index: 2;   */
    /* padding: 2.6rem 5rem;   */
    padding: 1rem 2rem;
    /* margin-left: 15vw; */
    margin-bottom: 1rem;
  /*  text-align: justify; /* dodala sn    */
    text-align: left;   
    display: flex;
    flex-wrap: wrap;
}

.admin-jedan-red{
  width: fit-content;   /* 33rem    */
  line-height: 45px; 
  background-color: #fff;
  border: 1px solid rgb(151, 192, 246);
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
  flex-wrap: wrap;  

}
.admin-tebela{
  /*  position: relative;   */
    margin: 0 auto;
    width: 90%;   /*bila je 80% pa 90%  */
    max-width: 81rem;   /* bila je 80rem    */
    display: flex;   /* bilo blok    */
    flex-wrap: wrap;
    background: #d2dff5;
    border: 2px solid grey;
    box-shadow: rgb(165 150 149 / 20%) 0px 8px 24px;
    border-radius: 0.4rem;
    transition: 0.2s all;
    padding: 2.6rem 4rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.admin-polje{
  vertical-align: middle;
  margin-left: auto;
}

.admin-dugme-slova{
  font-size: medium;
  color: darkblue;
}

.info-stanica-1{
  width: 7.6rem;
  border: 1px solid rgb(156, 198, 253);
  background-color: rgb(221, 234, 250);
  padding: 0.5rem;
  color: darkblue;
  font-size: medium;
  font-weight: bold;
  text-align: center;   /* left   */
 /* flex-wrap: wrap;    */
}

.input-search{
  width: 15rem;
  height: auto;
  padding: 0.5rem;
  justify-content: center;
  margin: auto;
  border: 1px solid darkblue;
  border-radius: 0.2rem;
  text-align: center;
}
.input-search::placeholder{
  text-align: center;
  padding-left: -4rem;
  color: blue;
}