.autobus {
  display: flex;
  flex-wrap: wrap;
  width: 26.875rem;
  height: auto;
  border: 2px solid black;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  background: white;
  margin-top: 2rem;
}

.sediste {
  width: 112px;
  height: 111px;
  background-color: rgba(33, 18, 173, 0.199);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.rezervisano {
  background-color: #6feaf6;
}

.razmak {
  width: 37px;
  height: 145px;
  visibility: hidden;
}
