.radio {
  margin-top: 2rem;
}
.select {
  text-align: center;
  /*  width: 40%; */
  border-radius: 1rem;
  font-size: large;
  font-weight: 300;
  background-color: #7caffa;
}

.select-selected {
  background-color: #75a9f7;
  display: none;
}

.radio1 {
  text-align: center;
  /*  width: 40%; */
  border-radius: 1rem;
  font-size: large;
  font-weight: 300;
}
.test {
  text-align: center;
}

.filedset {
  text-align: left;
  font-size: 16px;
  color: rgb(5, 62, 120);
}

.labela {
  color: rgb(5, 62, 120);
  font-family: Arial, Helvetica, sans-serif;
}

.box_3 {
  -webkit-box-shadow: 10px 10px 10px 10px rgba(138, 138, 191, 1);
  -moz-box-shadow: 10px 10px 10px 10px rgba(138, 138, 191, 1);
  box-shadow: 10px 10px 10px 10px rgba(138, 138, 191, 1);
  background-color: #b8e3f2;
  /* / background-color: #b8c6f0;  / */
  width: 80rem;
  height: auto; /* / bilo 20rem;  / */
  border-radius: 20px 20px 20px 20px;
  align-content: center;
}

.kutija {
  text-align: center;
  /* /  background-color: #EBF5FB;  / */
  margin: auto;
  width: 80%; /* / pomereno u levo da se ostavi mesto za reklamu / */
}

.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.maliCrveni {
  /* position: relative;   */
  color: red;
  text-align: center;
  background-color: rgb(243, 241, 235);
  /* width: 40vw;    */
  border-radius: 0.5rem;
  border-color: darkblue;
  border-style: solid;
  border-width: 0.1rem;
  padding: 1rem;

  /* display: flex;        */
  align-items: center;
  justify-content: center;

  margin: 0.5rem;
}

.plavaVecaSlova {
  color: darkblue;
  font-size: large;
}
.plavo {
  color: darkblue;
  background-color: #a0c2f6;
  font-size: small;
  margin-top: 0.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border-color: darkblue;
  border-width: 1px;
  border-style: inherit;          */
  /*  background-color: DarkBlue;   */
}
.flex-clan {
  background-color: #f1f1f1;
  width: 30rem; /* 25rem  */
  margin: 20px;
  background-color: #e1e1ea; /* #93cede;   */
  /*  border-color: darkblue;
  border-width: 1px;
  border-style: inherit;          */
}

.flex-container > div {
  /* background-color: #f1f1f1;
  width: 100px;*/
  margin: 10px;
  /*  text-align: center;
  line-height: 75px;
  font-size: 30px;*/
}

.prikazBusaDesno {
  margin-top: 1rem;
  margin-left: 70rem;
}

.red-1 {
  margin: 1rem;
}

.forma {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: #bbc4d1; /* rgb(178, 178, 247); */
  border-style: solid;
  border-width: 1px;
  background-color: #f6f9fa; /*rgb(228, 233, 244)*/
  justify-content: center;
}

.deoForme {
  width: fit-content;
  height: auto;
  border-color: #bbc4d1;
  border-style: solid;
  border-width: 1px;
  /* justify-content: center;  */
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: #c5dbf8;
}

.centar {
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.centar-1 {
  align-items: center;
  padding-left: 1.1rem;
  padding-bottom: 0%;
}

.labela-velika {
  /* color: rgb(5, 62, 120);   */
  color: #fff;
  font-size: large;
  text-align: left;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 80, 134);
  width: fit-content;
  padding: 10px;
  border-radius: 0.2rem;
}

.levo {
  text-align: left;
}

.sirina-3polja {
  width: 22rem;
}

.brSedista {
  color: #09223b;
  font-size: large;
  font-weight: bold;
}

.brSedista::placeholder {
  color: #09223b;
}

.slovaDugme {
  color: #0f3861;
  font-weight: bold;
  font-size: large;
}

.vasIzbor {
  text-align: left;
  font-size: medium;
  padding-left: 3rem;
}
.vasIzbor-1 {
  color: darkblue;
  font-weight: bold;
}

.selekt {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4b91f7;
}

.ograda1 {
  color: red;
  /*display: flexbox;    */
  flex-wrap: wrap;
  width: 20rem; /* bilo je 20rem  */
  height: auto;
  border: 2px solid darkblue; /* dodala sn    */
  border-radius: 1rem; /* dodala sn    */
  /* padding: 5px;       */ /* bilo je 30px   */
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin-left:36.5%;    */
  margin: auto; /* dodala sn    */
  justify-content: center; /* flex-end   center */
  /* text-align: left;           */

  background: white;
  margin-top: 2rem;
}

.mestoPozovi {
  padding: 0.3rem;
  margin: 0.1rem;
  text-align: left;
  font-weight: bold;
}
.mestoPrikazi {
  border: 1px solid darkblue;
  width: 8rem;
  padding: 0.3rem;

  margin: 0.1rem;
  font-weight: bold;
  color: rgb(1, 1, 41);
}
.mestoInfo {
  color: darkblue;
}

.levo-23 {
  padding-left: 2.3rem;
}

.levoMesta {
  width: max-content;
  text-align: left;
}

.desnoMesta {
  width: max-content;
  text-align: left;
  margin-top: -4rem;
  margin-left: 10rem;
}
.p-style2 {
  float: inline-end;
  color: darkblue;
  font-size: smaller;
}
.margin {
  margin-bottom: 1rem;
}
