.navbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 1.875rem;
  /* background-color: rgba(88, 218, 250, 0.822); */
  box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.25);
  height: 5rem;
  border-radius: 0.813rem;
  /*  position: fixed; */
  top: 1.25rem;
  left: 50%;
  /* transform: translate(-50%); */
  margin: 1rem;
}
.navbar {
  background: rgba(232, 244, 248, 1);
  background: -moz-linear-gradient(
    left,
    rgba(232, 244, 248, 1) 0%,
    rgba(190, 224, 233, 1) 43%,
    rgba(134, 196, 213, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(232, 244, 248, 1)),
    color-stop(43%, rgba(190, 224, 233, 1)),
    color-stop(100%, rgba(134, 196, 213, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(232, 244, 248, 1) 0%,
    rgba(190, 224, 233, 1) 43%,
    rgba(134, 196, 213, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(232, 244, 248, 1) 0%,
    rgba(190, 224, 233, 1) 43%,
    rgba(134, 196, 213, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(232, 244, 248, 1) 0%,
    rgba(190, 224, 233, 1) 43%,
    rgba(134, 196, 213, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(232, 244, 248, 1) 0%,
    rgba(190, 224, 233, 1) 43%,
    rgba(134, 196, 213, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f4f8', endColorstr='#86c4d5', GradientType=1 );
}



.logo {
  color: rgb(7, 2, 31);
  justify-self: start;
  cursor: pointer;
}
.logosajt {
  /* width: 50%;  15vw  bilo  */
  /* height: 50%;  7vh   bilo  */
  width: auto;
  height: 6vh;
  padding: 0.5rem;
}
.fa-bus {
  margin-left: 0.2rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.625rem;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 0.625rem;
}

/* .nav-links:hover {
  background: rgb(3, 146, 230);
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
} */

img {
  height: 5rem;
  width: 18.75rem;
  padding: 0.5rem;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 890px) {
  .logo {
    display: flex;
  }

  .nav-menu {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: grid;
    list-style: none;
    background: -webkit-linear-gradient(
      left,
      rgba(232, 244, 248, 1) 0%,
      rgba(190, 224, 233, 1) 43%,
      rgba(134, 196, 213, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(232, 244, 248, 1) 0%,
      rgba(190, 224, 233, 1) 43%,
      rgba(134, 196, 213, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(232, 244, 248, 1) 0%,
      rgba(190, 224, 233, 1) 43%,
      rgba(134, 196, 213, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(232, 244, 248, 1) 0%,
      rgba(190, 224, 233, 1) 43%,
      rgba(134, 196, 213, 1) 100%
    );
    left: 0;
    top: 4.688rem;
    transition: all 0.5s ease-out;
    width: 95%;
    margin: 1rem;
    z-index: 10;
  }
  .nav-links {
    color: white;
    bottom: 0;
    text-align: center;
    padding: 2rem;
    width: 100%;
    transition: all 0.5s ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 1.875rem;
    background-color: rgb(4, 92, 133);
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    top: auto;
    right: 2.188rem;
  }
}

/* @media screen and (max-width: 890px) {
  .nav-links-mobile {
    width: 95.5vw;
  }
}  */
/* @media screen and (max-width: 480px) {
.nav-links-mobile {
  width: 91.5vw;
}
} */
@media (min-width: 480px) and (max-width: 690px) {
  .nav-links-mobile {
    width: 91.5vw;
    border-radius: 1rem;
  }
}

@media (min-width: 690px) {
  .nav-links-mobile {
    width: 94.2vw;
    border-radius: 1rem;
  }
}

@media (min-width: 890px) {
  .nav-links-mobile {
    width: 95.5vw;
    border-radius: 1rem;
  }
}




.dropdown {
  z-index: 10;
  position: absolute;
  width: 12rem;
  text-align: center;
}



li:hover .dropdown {
  display: block;
  background-color: rgb(152, 226, 248);
}


li:hover .dropdown .dropdown-item {
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
}



.active{
  background-color: #1d4ed8;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3beff;
  color: white;
  position: sticky;
  top: 0;
} */

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* nav ul {
  display: flex;
} */

nav ul li {
 list-style: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color:#2a59f1 ;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}


/* @media (max-width: 480px) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
      z-index: 10;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
} */


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: #31cfeb;
  cursor: pointer;
}