body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styleHome{
  color: #159;
  background-color: #EBF5FB;
}

.table{
  text-align: center;
  height: 50px;
  width: fit-content;
  vertical-align: top;
  padding: 20px;
  border-spacing: 15px;

}

.inputText{
  width: 150px;
}
.sirinaSet{
  width: fit-content;
  border-color: blue;
}