.form-user {
    height: auto;
    -webkit-box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    background-color: #93cede;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 40%; /*  50vw          */
    padding: 1.5rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .user-control {
  margin-bottom: 0.9rem;
  }
  .user-label {
    font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  font-size: larger
  }
  .user-input {
    font: inherit;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    width: 20rem;
    max-width: 100%;
    text-align: center;
    height: 2rem;
    font-size: large;
  }
 

/* CSS */
.user-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.user-button  {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.user-button  {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.user-button  {
 /*  box-shadow: #D6D6E7 0 3px 7px inset; */
  transform: translateY(2px);
}