.form-user {
    height: auto;
    -webkit-box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    box-shadow: 0.438rem 0.438rem 1.438rem 0.125rem rgba(0, 0, 0, 0.6);
    background-color: #93cede;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    width: 70%; /*  50vw          */
    padding: 1.5rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }