/* Stil za naslove */
.naslov {
 /* font-weight:bold ;    /*  bold    */
  color: #35789f; /* Boja teksta za naslove bila #333 */
  font-size: 14px;    
  font-family: Arial, Helvetica, sans-serif;
 /* font-style: italic;   */
}

/* Stil za vrednosti */
.vrednost {
  font-size: large;   /* 16px   */
  color: darkblue; /* Boja teksta za vrednosti bila  #666*/
  margin-top: 5px;
  font-weight: bold;
}
/* Stil za li elemente */
.lista-stavka {
  list-style-type: none;
 /* margin-bottom: 20px;    */
  padding: 10px;
  margin: 10px;
  border: 1px solid darkblue;
  background-color: rgb(236, 246, 251);
 /* border: 1px solid #ddd;   
  background-color: #f9f9f9;  */
}

/* Stil za parne li elemente */
.lista-stavka:nth-child(even) {
  background-color: #e5e5e5;
}

.Grupa {
  display: inline-flex;
  flex-wrap: wrap;    /* dodala   */
}


/*  dodala za alert     --------------------------    */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width: 200px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}


.toast-message {
  background: rgb(42, 62, 179);
  color: #fff;
  font-size: 16px;    /*20px    */
  width:  12rem;  /*34vw;   */
  padding: 8px 6px;     /*  30px 20px;    */
  margin: 20px;
}

.closebtn {
  margin-left: 35px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 30px;
}

.closebtn:hover {
  color: black;
}
