/* Stil za naslove */
.naslov {
 /* font-weight:bold ;    /*  bold    */
  color: #3b3a3a; /* Boja teksta za naslove bila #333 */
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

/* Stil za vrednosti */
.vrednost {
  font-size: large;   /* 16px   */
  color: darkblue; /* Boja teksta za vrednosti bila  #666*/
  margin-top: 5px;
  font-weight: bold;
}
/* Stil za li elemente */
.lista-stavka {
  list-style-type: none;
 /* margin-bottom: 20px;    */
  padding: 10px;
  margin: 10px;
  border: 1px solid darkblue;
  background-color: rgb(236, 246, 251);
 /* border: 1px solid #ddd;   
  background-color: #f9f9f9;  */
}

/* Stil za parne li elemente */
.lista-stavka:nth-child(even) {
  background-color: #e5e5e5;
}

.Grupa {
  display: inline-flex;
  flex-wrap: wrap;    /* dodala   */
}
